.test{
    background-color: black;
    display:inline-block;
    font-style: italic;
    font-size: 7;
    color:white;
    border-color: red;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    margin-left: 20px;
    margin-right: 0px;
    

    
}
.test1{
    
    padding:20px;
    height:5vw;
    position: absolute;
    left:300px;
    top:10px;
    

}
.test2{
   
    padding:2rem;
    height:5vw;
    width:20vw;
    position:absolute;
    left:900px;

}
.test3{
    background-color: rgb(72, 142, 151);
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(131, 128, 128);
    color:black;
    font-size: x-large;
    font-style: italic;
    display:flex;
    position:relative;
    bottom:300px;
    left:20px;
    align-items: center;
    align-content: center;
 
}
.test4{
    left:450px;
    top:200px;
    /* position: relative;
    left: 20px; */
  
}

.flex-container{
    height:40vw;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
}
.flex-item{
    height:300px;
    width:300px;
    background-color: aqua;
    border-radius: 10px;
    border-style: solid;
    border-color: green;
    color:blue;
    border-width: 2px;
    border-color: greenyellow;
    padding: 10px;
    margin: 20px;
}