/* .item{
    width:400px;
    height:400px;
   
    background-image: url(./background-for-menu-vector-707941.jpg);
    background-image: conic-gradient(
    violet 20%,
    indigo 20% 40%,
    blue 40% 60%,
    green 60% 70%,
    yellow 70% 80%,
    orange 80% 90%,
    red);
    
} */
.flex-container{
    font-style: italic;
    background-color: green;
    /* height:100vw;
    width:100vw; */
    display: flexb;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    
   
}
.flex-item{
    height: 400px;
    width: 800px;
    background-color: yellow;
    border-style: solid;
 
}